* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: .15rem .15rem .1rem rgb(113, 218, 27);
}

html {
    font-size: 62.5%;
}

.main_container {
    height: 100vh;
    width: 100vw;
    background-color: #badbd8cf;
    display: grid;
    place-items: center;
}

.music_content {
    width: 23rem;
    background-color: #fff;
    border-radius: .7rem;
    box-shadow: 1rem 1rem 1rem grey;
    padding: 2.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music_content #tittle {
    font-size: 2.2rem;
    margin-bottom: .5rem;
}

.music_content #author {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.image_container {
    width: 15rem;
    height: 15rem;
    position: relative;
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow:  .7rem  grey;
    border: .4rem solid grey;
}

.image_container .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5rem;
    height: 2.5rem;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
    border: .4rem solid grey;
}

.music_buttons {
    margin-top: 3rem;
    width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music_buttons .fa-forward,
.fa-backward {
    font-size: 1.8rem;

    &:hover {
        color: rgb(78, 76, 76);
        
        transition: all .2s;
        
    }
    &:active {
        color: rgb(248, 4, 4);
        transition: all .2s;
        transform: scale(.8);
    }
}

.music_buttons .fa-sharp {
    font-size: 3rem;

    &:hover {
        color: rgb(78, 76, 76);
        transition: all .2s;
    }
    &:active {
        color: rgb(248, 4, 4);
        transition: all .2s;
    }
}

.circular_move{

    animation: circular 4s linear  infinite forwards ;
}

@keyframes circular{
    0%{ 
        transform: rotate(0deg);
    }
    100%{ 
        transform: rotate(360deg);
    }
}